# Local development environment variables
DATABASE_URL="postgresql://mac@localhost:5432/resumeboost_db?schema=public"
NEXTAUTH_SECRET="f43bbb2cb593b4b726e715fa0cb60a8e64eef80213e8765a2381ef80cce3dc68"
NEXTAUTH_URL="http://localhost:3000"
NODE_ENV="development"
